sudo: true
language: python
python:
  - "3.5"
  - "3.7"

before_script:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.6.2-amd64.deb
  - sudo dpkg -i --force-confnew elasticsearch-7.6.2-amd64.deb
  - sudo chown elasticsearch /etc/default/elasticsearch
  # Our ES mappings require the mapper-size plugin to be installed
  - sudo /usr/share/elasticsearch/bin/elasticsearch-plugin install mapper-size
  - sudo service elasticsearch restart

install:
  - pip install tox-travis

script:
  - tox

after_script:
  - tox -e coverage
